{%- set projectName = 'lfric_atm' %}
{%- set projectDir  = 'lfric_atm' %}
{%- set miniappFlag = False %}
{%- set fix_enums   = False %}

{# Set the  compiler debug profile for runs in this suite #}
{# Options are ['fast-debug'|'full-debug'|'production'], omission defaults to 'fast-debug' #}
{%- set run_application_profile = '' %}

{%- set appDiagStemName = 'diagLfricAtm' %}
{%- set rdef_default    = "64" %}
{%- set mesh_rdef       = "64" %}
{%- set mesh_build      = "fast-debug" %}
{%- set MAXRUNAHEAD     = 5 %}

{%- set application_configurations = { 'lfric_atm' : ['scm_dry_bl',
                                                      'scm_bl',
                                                      'scm_dry_spec_gwd',
                                                      'scm_dry_orog_drag',
                                                      'scm_bl_smith',
                                                      'scm_bl_smith_checkrestart',
                                                      'scm_bl_smith_mphys',
                                                      'scm_bl_pc2_mphys_rad',
                                                      'scm_bl_rad',
                                                      'scm_bl_rad_soil',
                                                      'scm_bl_ice',
                                                      'scm_bl_land',
                                                      'scm_bl_land_checkrestart',
                                                      'scm_bl_llcs',
                                                      'scm_bl_grcs_deep',
                                                      'scm_bl_pc2_grcs_deep',
                                                      'scm_bl_smith_grcs_deep',
                                                      'scm_bl_grcs_shallow',
                                                      'scm_bl_pc2_grcs_shallow',
                                                      'robert_moist_3d_smag',
                                                      'robert_moist_blended_smag',
                                                      'aquaplanet_short',
                                                      'aquaplanet_short_checkrestart',
                                                      'aquaplanet',
                                                      'aquaplanet_rad_smith_homog',
                                                      'aquaplanet_rad_smith_mcica',
                                                      'aquaplanet_rad_pc2_homog',
                                                      ],
                                     } %}

{%- set canned_configurations  = ['lfric_atm'] %}

{%- set groups = {
  'developer': [
    'validate_rose_meta_graph("lfric_atm")',
    'check_style_graph()',
    'run_application("lfric_atm", "scm_dry_bl",
                     resolutions=[("BiP4x4-10000x10000",600.0)],
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_bl",
                     resolutions=[("BiP4x4-10000x10000",600.0)] ,
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_dry_spec_gwd",
                     resolutions=[("BiP4x4-10000x10000",600.0)] ,
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_dry_orog_drag",
                     resolutions=[("BiP4x4-10000x10000",600.0)] ,
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_bl_smith",
                     resolutions=[("BiP4x4-10000x10000",600.0)] ,
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_bl_smith_checkrestart",
                     resolutions=[("BiP4x4-10000x10000",600.0)] ,
                     env={"crun":2, "nrun":24},
                     plotstr="plot_scm_checkrestart.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_bl_smith_mphys",
                     resolutions=[("BiP4x4-10000x10000",600.0)] ,
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_bl_pc2_mphys_rad",
                     resolutions=[("BiP4x4-10000x10000",600.0)] ,
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_bl_rad",
                     resolutions=[("BiP4x4-10000x10000",600.0)] ,
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_bl_rad_soil",
                     resolutions=[("BiP4x4-10000x10000",600.0)] ,
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_bl_ice",
                     resolutions=[("BiP4x4-10000x10000",600.0)] ,
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_bl_land",
                     resolutions=[("BiP4x4-10000x10000",600.0)] ,
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_bl_land_checkrestart",
                     resolutions=[("BiP4x4-10000x10000",600.0)] ,
                     env={"crun":2, "nrun":24},
                     plotstr="plot_scm_checkrestart.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_bl_llcs",
                     resolutions=[("BiP4x4-10000x10000",600.0)] ,
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_bl_grcs_deep",
                     resolutions=[("BiP4x4-10000x10000",600.0)] ,
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_bl_pc2_grcs_deep",
                     resolutions=[("BiP4x4-10000x10000",600.0)] ,
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_bl_smith_grcs_deep",
                     resolutions=[("BiP4x4-10000x10000",600.0)] ,
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_bl_grcs_shallow",
                     resolutions=[("BiP4x4-10000x10000",600.0)] ,
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "scm_bl_pc2_grcs_shallow",
                     resolutions=[("BiP4x4-10000x10000",600.0)] ,
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "robert_moist_3d_smag",
                     resolutions=[("BiP50x4-20x20",2.5)] ,
                     env={"crun":2, "nrun":100},
                     plotstr="robert_plot.py ' + appDiagStemName + ' $NODAL_DATA_DIR 50 4 theta:m_v:u1_in_w3:u2_in_w3:u3_in_w3 T000000:T000100:T000200 $PLOT_DIR")',
    'run_application("lfric_atm", "robert_moist_blended_smag",
                     resolutions=[("BiP50x4-20x20",2.5)] ,
                     env={"crun":2, "nrun":100},
                     plotstr="robert_plot.py ' + appDiagStemName + ' $NODAL_DATA_DIR 50 4 theta:m_v:u1_in_w3:u2_in_w3:u3_in_w3 T000000:T000100:T000200 $PLOT_DIR")',
    'run_application("lfric_atm", "aquaplanet_short",
                     resolutions=[("C12",300.0)],
                     env={"crun":1, "nrun":2,
                          "directives":{"C12":{"mpi_parts":6,
                                               "threads":1,
                                               "wallclock":"00:10:00"},
                                       },
                         }
                     )',
    'run_application("lfric_atm", "aquaplanet_short_checkrestart",
                     resolutions=[("C12",300.0)],
                     env={"crun":2, "nrun":1,
                          "directives":{"C12":{"mpi_parts":6,
                                               "threads":1,
                                               "wallclock":"00:10:00"},
                                       },
                         }
                     )',
    'run_application("lfric_atm", "aquaplanet",
                     resolutions=[("C12",300.0)],
                     env={"crun":2, "nrun":72,
                          "directives":{"C12":{"mpi_parts":6,
                                               "threads":1,
                                               "wallclock":"00:12:00"},
                                       },
                         }
                     )',
    'run_application("lfric_atm", "aquaplanet_rad_smith_homog",
                     resolutions=[("C12",300.0)],
                     env={"crun":2, "nrun":1,
                          "directives":{"C12":{"mpi_parts":6,
                                                 "threads":1,
                                               "wallclock":"00:05:00"},
                                       },
                         }
                     )',
    'run_application("lfric_atm", "aquaplanet_rad_smith_mcica",
                     resolutions=[("C12",300.0)],
                     env={"crun":2, "nrun":1,
                          "directives":{"C12":{"mpi_parts":6,
                                                 "threads":1,
                                               "wallclock":"00:05:00"},
                                       },
                         }
                     )',
    'run_application("lfric_atm", "aquaplanet_rad_pc2_homog",
                     resolutions=[("C12",300.0)],
                     env={"crun":2, "nrun":1,
                          "directives":{"C12":{"mpi_parts":6,
                                                 "threads":1,
                                               "wallclock":"00:05:00"},
                                       },
                         }
                     )',
    'check_compilers("lfric_atm", "scm_dry_bl", "fast-debug",
                     resolution=("BiP4x4-10000x10000",600.0))',
    'canned_test("lfric_atm")'
  ],
  'nightly': [
    'run_application("lfric_atm", "scm_dry_bl",
                     resolutions=[("BiP4x4-10000x10000",600.0)],
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "aquaplanet",
                     resolutions=[("C12",300.0)],
                     env={"crun":2, "nrun":72,
                          "directives":{"C12":{"mpi_parts":6,
                                               "threads":1,
                                               "wallclock":"00:12:00"},
                                       },
                         }
                     )',
    'publish_commit'
  ],
  'nightly-full-debug': [
    'run_application("lfric_atm", "scm_dry_bl",
                     resolutions=[("BiP4x4-10000x10000",600.0)],
                     plotstr="plot_scm.py $NODAL_DATA_DIR/lfric_diag.nc  $PLOT_DIR")',
    'run_application("lfric_atm", "aquaplanet",
                     resolutions=[("C12",300.0)],
                     env={"crun":2, "nrun":72,
                          "directives":{"C12":{"mpi_parts":6,
                                               "threads":1,
                                               "wallclock":"00:12:00"},
                                       },
                         }
                     )',
    'check_compilers("lfric_atm", "scm_dry_bl", "full-debug",
                     resolution=("BiP4x4-10000x10000",600.0),
                     publish=True)',
    'publish_commit'
  ],
} %}
